
  .posts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    transition: transform 100ms ease-in-out;
  }

  .post:hover{
    transform: scale(1.03);
  }

  @media only screen and (max-width: 305px){

    .posts{
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  